.mainMiddle {
  background-color: rgb(240, 240, 246);
  width: 70%;
  display: flex;
  flex-direction: column;
  /* padding: 1rem; */
  /* overflow: hidden; */
  overflow-y: scroll;
  height: 650px;
  /* overflow-y: auto; */
}

.section1Middle {
  display: flex;
  justify-content: space-between;

}

.leftSideMiddle1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  gap: 1rem;


}

.titleNameMiddle1 {
  font-size: 4rem;
  color: rgb(43, 43, 43);
  font-weight: 700;
  font-family: Inter, sans-serif;
}

.textColorMiddle {
  color: orange;
}

.jobTitle {
  font-size: 3rem;
}

.jobTitleMiddle1 {
  font-size: 3rem;
  font-weight: 700;
}

.phoneCall {
  font-size: 3rem;
}

.phoneCall:hover {
  cursor: pointer;
}

.imgMiddle1 {
  width: 50%;
}

.gmailIconMiddle {
  font-size: 3rem;
  color: red
}

.gmailIconMiddle:hover {
  cursor: pointer;

}

.groupIconsMiddle {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.titleSkillsMiddle {
  text-align: center;
  font-family: Inter, sans-serif;
  font-weight: 300;
  padding: 1rem;
  font-size: 3rem;
  color: rgb(43, 43, 43);
}

.divImgMiddle {
  text-align: center;
  width: 100%;
  height: 100%;



}

.gridImagesMiddle {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 2.5rem;


}

.imgMiddle {
  width: 100px;
  height: 100px;
  /* filter: blur(20px); */
}

.imgMiddle:hover {
  transform: scale(1.2);
  z-index: 2;
}

.allImagesMiddle {
  margin: auto;
}

.projectsMiddle {
  margin: auto;
  padding-top: 10rem;
  text-align: center;
}

.grinProjectsMiddle {
  display: grid;
  grid-template-columns: repeat(3, 15em);
  grid-template-rows: repeat(2, 15em);
  gap: 3rem;
  margin-bottom: 8rem;
}

.projectMiddle {
  width: 100%;
  height: 100%;

}







.intro {
  height: 6em;
  width: 15em;
  padding: 2px;
  box-sizing: border-box;
  position: absolute;
  background: rgba(126, 126, 126, 0.211);
  margin-top: -6.3rem;
  display: none;




}

.card {
  position: relative;
}

.card:hover .intro {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 99999;

}

.buttonCode {
  border: none;
  width: 50%;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: white;
  font-size: 0.9rem;
}

.buttonCode:hover {
  cursor: pointer;
}

.allEductionMiddle {
  background-color: white;
  padding: 2rem 0.6rem;
  margin: 1rem;
}

.eduction1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
}

.leftEduction {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.titleEduction {
  font-size: 1.2rem;
  font-family: Inter, sans-serif;
}

.title2Eduction {
  background-color: orange;
  color: white;
  width: 30%;
  font-size: 0.7rem;
  text-align: center;
  padding: 0.2em 0.5em;
}

.title2Eduction1 {
  background-color: orange;
  color: white;
  width: 7.5rem;
  font-size: 0.7rem;
  text-align: center;
  padding: 0.2em 0.7em;
}

.contactMiddle {
  text-align: left;
}

.mainContact {
  background-color: white;
  padding: 2rem 0.3rem;
  margin: 1rem;
}

.socialMedia {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  text-align: center;
}

.iconMiddle {
  font-size: 2rem;
}

.text1 {
  font-family: Inter, sans-serif;
  font-weight: 300;
}

.collectionIcons {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-top: 3rem;
  margin: auto;
}

.emailI:hover {
  cursor: pointer;
}