*::-webkit-scrollbar {
  width: 4px;



}

:root {
  --text-primary: black;
  --app-background: white;
  transition: .5s all
}

.dark {
  --text-primary: white;
  --app-background: black;
  --text: rgb(240, 240, 246) transition: .5s all
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.mainApp {

  max-height: 100vh;
  display: flex;
  color: var(--text-primary);
  background-color: var(--app-background);
  transition: .5s all
}